@import "~normalize.css";
@import "~@/assets/scss/_variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

html,
body {
  font-family: "Oxygen", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 17px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.link {
  color: $color-primary;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

button {
  cursor: pointer;
}

@media (min-width: 768px) {
  .posts,
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
  .posts,
  .container  {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .posts,
  .container  {
    padding-right: 75px;
    padding-left: 75px;
  }
}