@import '~normalize.css';
@import "~@/assets/scss/_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

html, body {
  font-family: 'Oxygen', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding: 5px 7px;
}

.link {
  color: $color-primary;
}